ol,li{
  list-style: none;
}
*{
  margin: 0; padding: 0;
}
body{
  overflow: hidden;        /*禁用滚动条*/
}

.icon{
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#xxx {
  display: block;
  /*background: white; */
}
.actions{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}
.actions svg{
  width: 2em;
  height: 2em;
  margin: 0 10px;
  transition: all 0.3s;    /*过度时间*/
}
.actions svg.active{
  fill: red;
  transform: scale(1.2);   /*图标变为之前的1.2倍*/
}

.colors{
  position: fixed;
  top: 60px;
  left: 28px;
}
.colors > li{
  width: 20px;
  height: 20px;
  margin: 12px 0;
  border-radius: 50%;
  border: 1px solid gray;
  transition: all 0.3s;
}
.colors > li.active{
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  transform: scale(1.1);
}
.colors > li.red{
  background: red; 
}
.colors > li.green{
  background: green; 
}
.colors > li.blue{
  background: blue; 
}
.colors > li.black{
  background: black; 
}

.sizes{
  position: fixed;
  top: 4px;
  right: 20px;
}
.sizes > li{
  margin: 20px 0;
}
.sizes > li.thin{
  height: 0px;
  width: 20px;
  border-top: 3px solid black;
}
.sizes > li.thick{
  height: 0px;
  width: 20px;
  border-top: 6px solid black;
}